{% extends "frame.html" %}
{% load static %}

{% block content %}
    <div class="center-block col-lg-12" style="float: none;clear: both;">
        <i class="fa fa-download"></i>&nbsp;请长按图片下载：</p>
        <img src="/static/tickets/{{ ticket.hash_value }}.png" class="source_thumb screen_like">
        <br><br><br>
    </div>


    <div class="center-block col-lg-8" style="float: none;clear: both;">
        <p>演出开始前凭相关证件与电子票入场。</p>
        <p>分享到朋友圈，以便随时查找此电子票。</p>
        <br>
    </div>
{% endblock %}
